body {
    box-sizing: border-box;
    /* background-image: url("../../assets/images/bg_img1.jpg");
    background-image: url("../../assets/images/bg_img2.jpg"); */
    background-image: url("../../assets/images/backgroundImages/bg_img4.jpg");
    /* background: #000; */
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
    color: #FFF;
}

header.jumbotron p {
    font-size: 16px;
}

div.well {
    height: 500px;
    margin-bottom: 0;
}

div.modal-body {
    margin: 0;
    padding: 0;
}
div.modal-body img {
    width: 598px;
    height: auto;
}

#letterBoard,
#stage,
#stats {
    color: #888;
}

#gameplay {
    width: 80%;
    height: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#letterBoard {
    word-wrap: break-word;
}

#tagline {
    font-style: italic;
}

p#photo_credit {
    font-size: 8px;
    color: #CCC;
}

.modal {
    /* background-image: url("../../assets/images/backgroundImages/bg_img4.jpg"); */
    background-color: #000;
    color: #000;
}

.footer {
    background-color: #000;
    bottom: 0;
    color: CCC;
    left: 0;
    padding-top: 25px;
    position: fixed;
    text-align: center;
    width: 100%;
}