body {
    box-sizing: border-box;
    background: url("../../assets/images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;   
    font-size: 14px;
    color: #FFF;
}